**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps
**/cmake_args.last
**/colcon_command_prefix_build.sh*
**/local_setup.*
**/templates.cmake
**/ament_cmake_uninstall_target.cmake
**/ament_cmake*
**/colcon_build.rc*
